html {
  background: url(/img/escheresque_ste.png);
  width: 100%;
  height: 100%;
  }

body {
  /* background-color: #232B2B; */
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100vh; */
  color: #eee;
  /* font-size: 160%; */
  /* font-family: 'Caveat', cursive; */
  /* font-family: 'Marck Script', cursive; */
  font-family: 'Cormorant Infant', serif;
}



/* задаем цвет фона для контейнера nav. */
nav {
    /* margin: 100px 0; */
    background-color: #444444;
    /* border-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;        
}
/* убираем отступы и поля, а также list-style для "ul", и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    /* border-radius: 10px; */
}
/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
    background-color: #444444;
    border-radius: 10px;
    transition: 0.5s linear;
}
nav ul li:hover {
    transform: scale(0.9);

}
/* стилизуем ссылки */
nav a {
    display:block;
    padding:0 10px;
    color:#fffb00;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
    transition: 0.5s linear;
    border-radius: 10px;
}
/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: #000000b2;
    /* transform: scale(0.9); */
}


/* скрываем выпадающие списки по умолчанию и задаем абсолютное позиционирование */
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
    display:inherit;
}
/* первый уровень выпадающего списка */
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}


/* второй, третий и последующие уровни  смещаем 2 и 3 уровни влево  на значение длины первого уровня. */
nav ul ul ul {
    position: absolute;
    top:0;
    left:100%;
}
    

/* измените ' +' на любой другой символ, если нужно */
li > a:after { content:   ' +' }
li > a:only-child:after { content: ''; }



.navbar-logo {
    padding-left: 3%;
    padding-top: 3%;
    display: inline-block;
    transition: 0.25s linear;
}
.navbar-logo img {
    width: 47%;
}
.navbar-logo:hover {
    opacity: 0.8;
}
        







.otstup {
  /* height: 100%; */
}

.page {
  /* height: 70vh; */
  /* background-color: brown; */
}
.header {
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  height: 8%;
  font-size: 35px;
  /* background-color: chocolate; */
}
.body {
  padding-top: 1%;
  padding-left: 1%;
  font-size: 125%;
  /* width: 600px; */
  display: flex;
}
.text {
  width: 45%;
  padding: 1% 1% 1% 1%;
  text-align: justify;
}
.image img {
  float: right;
  margin: 0 2% 0 0;
  width: 50%;
  border-radius: 9px;
  opacity: 0.9;
  transition: 0.3s linear;
  box-shadow: 0px 0px 7px 2px #00000080;
}
.image img:hover {
  box-shadow: 0px 0px 15px 4px #00000080;
  opacity: 1;
  /* transform: rotateZ(360deg); */
  /* transform: scale(1.7); */
}


.fixed-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  position: fixed;
  width: 20px;
  height: 20px;
  transition: 0.4s linear;
}
.footer {
  width: 3%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 8%;
  transition: 0.4s linear;
}
.fixed-button {
  z-index: 99;

}
.footer a, .fixed-button a {
  padding: 0 11px 0 11px;
  text-decoration: none;
  color: black;
  background-color: grey;
  opacity: 0.7;
  border-radius: 5px;
  font-size: 40px;
}
.footer a:hover, .fixed-button a:hover {
  opacity: 0.9;
  background-color: rgb(91, 100, 100);
}




/* Собственно сам слайдер */
.slider{
  max-width: 50%;
  position: relative;
  
  height: 150px;
  margin-bottom: 130px;
  /* margin: auto; */
}
.item {
  /* width: 200%; */
}

/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
  object-fit: cover;
  /* height: 100%; */
  width: 100%;
  border-radius: 10px;
  max-height: 300px;
}

/* Кнопки вперед и назад */
.slider .prev, .slider .next {
  cursor: pointer;
  position: absolute;
  /* top: 0; */
  top: 60%;
  width: auto;
  /* margin-top: -22px; */
  padding: 3%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 1;
}


.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Заголовок слайда */
.slideText {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 35px;
  /* Выравнивание текста по горизонтали и по вертикали*/
  left: 50%;
  top: 81%;
  transform: translate(-50%, -50%);
  /* Тень*/
  text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

.item a:hover img{
  opacity: 0.5;
}
/* .slideText:hover .img-slider {
  opacity: 0.5;
} */
.slider a {
  text-decoration: none;
  color: #fff;
}

/* Кружочки */
/* .slider-dots {
text-align: center;
}
.slider-dots_item{
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
  background-color: #aaa;
} */


/* Анимация слайдов */

.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

.mainer-magic {
  width: 50%;
  padding: 2% 2% 2% 2%;
}
#button {
  font-size: 100%;
  color: rgb(177, 170, 170);
  background-color: rgba(0, 0, 0, 0.178);
  border-radius: 4px;
  padding: 1% 1% 1% 1%;
  border: none;
  transition: 0.25s linear;
}
#button:hover {
  background-color: rgb(30, 30, 30);
/* box-shadow: inset 0 0 0 1px #2f2f2f; */
transition: 1s linear;
}


.container0, .container1, .container2, .container3, .container4, .container5 {
  width: 13%;
  position: relative;  
  perspective: 1000px;
  border-radius: 4px;
  margin: auto;
}
.container0:hover, .container1:hover, .container2:hover, .container3:hover, .container4:hover, .container5:hover {
  box-shadow: 0 0 6px 5px rgb(26, 26, 26);
}
.card0, .card1, .card2, .card3, .card4, .card5 {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition:  0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  cursor: pointer;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #47525D;
}
.front {
  background: url(/img/card-back.jpeg);
  background-size: 100%;
}
.back, .flipped {
  transform: rotateY(180deg);
  background: #e9e9e9;
  text-align: center;
  padding: 0 1% 0 1%;
  box-shadow: inset 0 0 2px 1px #000;
}




.video {
  width: 100%;
  /* padding: 2% 2% 2% 2%; */
  border-radius: 30px;
  opacity: 0.7;
}
.video:hover {
  opacity: 1;
}
@media(max-width: 800px) {
  .video {
    max-height: 240px;
    max-width: 450px;
  }
  body {
    font-size: 75%;
  }

}
.contacs-mail {
  width: 50%;
}
.message-theme {
  width: 50%;
  float: right;
  padding-bottom: 2%;
}
.message-theme input, .sender-name input, .message-text textarea, .message-button button {
  font-size: 100%;
  color: rgb(177, 170, 170);
  background-color: rgba(0, 0, 0, 0.178);
  border-radius: 4px;
  padding: 1% 1% 1% 1%;
  border: none;
  transition: 0.25s linear;
}
.message-theme input {
  width: 100%;
}
.sender-name {
  width: 50%;
}
.sender-name input {
  width: 60%;
}
.message-text {
  width: 100%;
  /* height: 40vh; */
}
.message-text textarea {
  width: 100%;
  height: 40%;
}
.message-button {
  float: right;
}
.message-button button {
  margin-top: 1%;
}
.sender-name input:hover, .message-theme input:hover, .message-text textarea:hover, .message-button button:hover {
  background-color: rgb(30, 30, 30);
}
.message-button button:hover {
  background-color: rgb(30, 30, 30);
transition: 1s linear;
}

.future2 {
  margin: auto;
  display: flex;
  flex-direction: column;
}
#result {
  text-align: center;
}
.future2 div {
  width: 80%;
  user-select: none;
}

.anim-fut {
  transform: rotateX(360deg);
  background: chartreuse;
  transition: 4s linear;
}


.main-registration {
  width: 65%;
  height: 300px;
  margin: 6% auto auto auto;
}
.main-registration-text, .main-registration-input {
  width: 50%;
  height: 10%;
  margin: 0% 0% 2% 0%;
}
.main-registration-text {
  float: left;
}
.main-registration-text a {
  color: #eee;
  text-transform: uppercase;
  text-decoration: none;
  text-decoration: underline;
}
.main-registration-text a:hover {
  color: rgb(218, 204, 18);
}
.main-registration-input {
  float: right;
}
.main-registration-input input {
  width: 100%;
  height: 100%;
  padding: 0% 1.5% 0% 1.5%;
  border: none;
  background-color: #eee;
  color: rgb(99, 99, 99);
  border-radius: 10px;
  transition: 0.25s linear;
}
.main-registration-input input:hover {
  background-color: rgb(146, 143, 143);
  transform: scale(1.1);
}
.main-registration-submit {
  float: right;
  width: 50%;
  height: 10%;
  transition: 0.25s linear;
}
.main-registration-button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  transition: 0.25s linear;
  color: rgb(34, 34, 34);

}
.main-registration-button:hover {
  background-color: rgb(146, 143, 143);
  transform: scale(1.1);
}

.main-footer{
  height: 60px;
  background-color: #444444;
  width: 100%;
}